* {
    box-sizing: border-box;
}
.wrapper {
    margin-top: 2em;
    background: #000000;
    border: #000000 5px solid;
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: 10px;
}
div {
    color: whitesmoke;
}

* {
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 1em;
}
main {
    background: black;
    border: 6px solid black;
    width: 500px;
    height: 500px;
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 6px;
}
.one {
    background: blue;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.two {
    background: red;
    grid-row: 1 / 4;
    grid-column: 3 / 9;
}
.three {
    background: yellow;
    grid-row: 3 / 6;
    grid-column: 1 / 3;
}
.four {
    background: white;
    grid-row: 4 / 8;
    grid-column: 3 / 5;
}
.five {
    background: white;
    grid-row: 4 / 6;
    grid-column: 5 / 9;
}
.six{
    background: white;
    grid-row: 6 / 8;
    grid-column: 1 / 3;
}
.seven {
    background: yellow;
    grid-row: 6 / 8;
    grid-column: 5 / 9;
}
.eight {
    background: red;
    grid-row: 8 / 9;
    grid-column: 1 / 3;
}
.nine {
    background: blue;
    grid-row: 8 / 9;
    grid-column: 3 / 9;

